body {
    margin: 0;
    height: 100%;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-size: 7em;
    font-family: 'Montserrat';
    padding: .5em;
    border: 3px solid currentColor;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 2em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.35em;
    }
}